@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");

nav {
  flex: 1;
  position: fixed;
  width: 100%;
  background-color: #edc7b7;
  z-index: 1;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  padding: 20px 0;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
  box-shadow: 1px 1px 1px 0.3px #cecece;
  width: 100%;
  justify-content: space-between;
}

.logo {
  font-family: "Kalam", cursive;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: -3px;
  flex: 1;
  max-width: 30vw;
  transition: 250ms all;
  color: #ac3b61;
}

.logo:hover {
  transform: scale(1.004);
}

.links {
  flex: 2;
  max-width: 30vw;
  align-items: center;
  display: flex;
  transition: 250ms all;
}

.link {
  flex: 1;
  color: #ac3b61;
  font-size: 34px;
  max-width: 30vw;
  font-family: "Kalam", cursive;
  letter-spacing: -3px;
}

.link:hover {
  transform: scale(1.004);
}
a {
  text-decoration: none;
  color: black;
}

@media (max-width: 500px) {
  nav {
    width: 98%;
  }
  .logo {
    max-width: 50%;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
  }
  .link {
    padding: 3px;
  }
}

.hamburger-toggle {
  cursor: pointer;
  color: #ac3b61;
  font-weight: bold;
  display: none;
}

.checkbtn {
  font-size: 30px;
  color: #ac3b61;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 952px) {
  .checkbtn{
    display: block;
  }

  .links {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    /* top: 80px; */
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
.link {
  display: block;
    margin: 50px 0;
    line-height: 30px;
}
#check:checked ~ .links{
  left: 0;
}

}
